.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .ProseMirror {
        min-width: 1024px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px;

        .page {
            width: 210mm;
            height: 297mm;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            padding: 20mm;
            box-sizing: border-box;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            transition: box-shadow 0.3s ease;
            margin-bottom: 24px;

            &:hover {
                box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
            }

            .page_header {
                height: 10mm;

                * {
                    user-select: none;

                    &:first-child {
                        margin-top: 0;
                    }
                }
            }

            .page_footer {
                height: 10mm;

                * {
                    user-select: none;

                    // &:last-child {
                    //     margin-bottom: 0;
                    // }
                }
            }

            .page_content {
                height: 297mm - 40mm - 10mm - 10mm; // 294mm A4 page height minus padding and header/footer height
                overflow-y: hidden;
                display: flex;
                flex-direction: column;

                .placeholder {
                    flex: 1;
                    background-color: antiquewhite;
                }
            }
        }
    }
}

#pagination {
    position: absolute;
    top: 0;
    pointer-events: none;

    #pagination-container {
        width: 210mm;
        padding: 0 20mm;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        background-color: #f77 !important;
        // visibility: hidden;

        * {
            width: 100%;
        }
    }
}